body
  padding-bottom 50px


.jumbotron
  margin-top -20px


p
  a
    text-decoration underline

    &:hover
      text-decoration none


.faq
  .title
    cursor pointer
    margin-top 0

    span
      border-bottom 1px dashed

    &:hover
      span
        border-bottom none

  .item
    max-height 30px
    overflow hidden
    margin-top 20px

    -webkit-transition all .5s
    -moz-transition all .5s
    -o-transition all .5s

    &:first-of-type
      margin-top 0

    &.active
      max-height 1000px


.page-tickets,
.panel-body
  h1:first-child,
  h2:first-child,
  h3:first-child
    margin-top 0

.owner-system
  background-color #efe
