body {
  padding-bottom: 50px;
}
.jumbotron {
  margin-top: -20px;
}
p a {
  text-decoration: underline;
}
p a:hover {
  text-decoration: none;
}
.faq .title {
  cursor: pointer;
  margin-top: 0;
}
.faq .title span {
  border-bottom: 1px dashed;
}
.faq .title:hover span {
  border-bottom: none;
}
.faq .item {
  max-height: 30px;
  overflow: hidden;
  margin-top: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.faq .item:first-of-type {
  margin-top: 0;
}
.faq .item.active {
  max-height: 1000px;
}
.page-tickets h1:first-child,
.panel-body h1:first-child,
.page-tickets h2:first-child,
.panel-body h2:first-child,
.page-tickets h3:first-child,
.panel-body h3:first-child {
  margin-top: 0;
}
.owner-system {
  background-color: #efe;
}
