{% spaceless %}
{% load static i18n %}
{% load statici18n %}
{% load compressed %}
{% load menu %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }} | Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {% compressed_css 'assets' %}
    <script src="{% static 'js/libs/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    {% compressed_js 'jquery' %}
    {% block scripts-header%}{% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->


<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Dashboard</a>
        </div>
        <ul class="nav navbar-nav">
            {% if is_authorized %}
                {% main_menu_link _('Settings') 'frontend:settings' %}
                {% main_menu_link _('Status') 'frontend:status' %}
                {% main_menu_link _('Tickets') 'tickets:list' %}
            {% endif %}
            {% comment %}{% main_menu_link _('Help') 'frontend:help' %}{% endcomment %}
            {% main_menu_link _('FAQ') 'frontend:faq' %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% get_language_info_list for LANGUAGES as languages %}
            {% get_current_language as LANGUAGE_CODE %}
            {% for language in languages %}
                {% if language.code != LANGUAGE_CODE %}
                    <li>
                        <a class="js-set-lang" href="#" data-lang="{{ language.code }}" title="{{ language.name_local }}">
                            <span class="flag flag-{{ language.code }}"></span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>

<div class="container">
    {% if is_show_breadcrumbs|default:False %}
        <ol class="breadcrumb">
            <li><a href="/">{% trans _('Main') %}</a></li>
            {% block breadcrumb %}{% endblock %}
            <li class="active">{{ title }}</li>
        </ol>
    {% endif %}
</div>

{% block content %}{% endblock %}

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <p class="navbar-text navbar-right">&copy; 2014</p>
    </div>
</nav>


<script type="application/javascript" src="{% statici18n LANGUAGE_CODE %}"></script>
{% compressed_js 'assets' %}
{% compressed_js 'bootstrap' %}
{% compressed_js 'application' %}
{% block scripts-footer %}{% endblock %}

</body>
</html>
{% endspaceless %}