{% extends 'frontend/base.html' %}

{% load django_markdown %}

{% block body-class %}js-page-faq{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="faq">
                            {% for item in object_list %}
                                <div class="item">
                                    <h3 class="title"><span>{{ item.question }}</span></h3>
                                    {{ item.answer|markdown }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
