{% extends 'frontend/base.html' %}

{% block body-class %}js-page-help{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
