{% extends 'frontend/base.html' %}

{% block body-class %}js-page-promo{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Dashboard</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
    </div>
{% endblock %}
