{% extends 'frontend/base.html' %}
{% load i18n %}
{% load layout %}
{% load crispy_forms_tags %}

{% block body-class %}js-page-settings{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% layout_data %}
{% endblock %}
