{% extends 'frontend/base.html' %}
{% load i18n %}

{% block body-class %}js-page-status{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <dl>
                            <dt>{% trans _('Your address') %}</dt>
                            <dd>{{ client.router.ip }}</dd>

                            <dt>{% trans _('Router id') %}</dt>
                            <dd>{{ client.router.router_id }}</dd>

                            <dt>{% trans _('Serial number') %}</dt>
                            <dd>{{ client.router.serial_number }}</dd>

                            <dt>{% trans _('Active till') %}</dt>
                            <dd>{{ client.router.active_till }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
