{% extends 'tickets/base.html' %}

{% load i18n %}
{% load crispy_forms_tags django_markdown %}
{% load tickets %}

{% block breadcrumb %}
    <li><a href="{% url 'tickets:list' %}">{% trans 'Tickets' %}</a></li>
{% endblock %}

{% block control-row %}
    <span class="label label-{{ ticket.status_class }}">{{ ticket.status_name }}</span>
    {% if ticket.title %}{{ ticket.title }}{% endif %}
    <span class="text-muted">{{ title }}</span>
{% endblock %}

{% block inner %}
    {% spaceless %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if ticket.description %}
                {{ ticket.description|markdown_safe }}
            {% else %}
                <p class="text-muted">{% trans 'No description.' %}</p>
            {% endif %}
        </div>
    </div>
    {% for comment in object_list %}
        <div class="panel panel-default owner-{{ comment.owner_name|lower }}">
            <div class="panel-body">
                <p>
                    <strong>#{{ forloop.counter }}</strong>
                    <span class="pull-right">
                        <strong>{{ comment.owner_name }}</strong>,&nbsp;
                        <span class="text-muted">
                            {{ comment.created|timesince }} {% trans 'ago' %}
                        </span>
                    </span>
                </p>
                {{ comment.comment|markdown_safe }}
            </div>
        </div>
    {% endfor %}

    <div id="bottom"></div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>
                {% if ticket.is_open %}
                    <div class="pull-right">
                        <button class="btn btn-info" data-toggle="modal" data-target=".js-change-status-modal">{% trans 'Change status' %}</button>
                    </div>
                {% endif %}
                {% trans 'New comment' %}
            </h3>
            {% crispy add_comment_form %}
        </div>
    </div>

    <div class="modal fade js-change-status-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">{% trans 'Change status' %}</h4>
                </div>
                <div class="modal-body">
                    <p>Choose new ticket status:</p>
                    <div class="btn-group js-statuses">
                        {% for status_id, item in statuses.iteritems %}
                            <button data-status="{{ status_id }}" type="button" class="btn btn-{{ item.css_class }}">{{ item.title }}</button>
                        {% endfor %}
                    </div>
                    {% crispy change_status_form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    {% endspaceless %}
{% endblock %}
