{% extends 'tickets/base.html' %}

{% load i18n static %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li><a href="{% url 'tickets:list' %}">{% trans 'Tickets' %}</a></li>
{% endblock %}

{% block show-new-ticket %}{% endblock %}

{% block inner %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% crispy form %}
        </div>
    </div>
{% endblock %}
