{% extends 'tickets/base.html' %}

{% load i18n %}

{% block control-row %}{% trans 'Your tickets' %}{% endblock %}

{% block inner %}
    {% if object_list %}
        <div class="list-group">
            {% for ticket in object_list %}
                <a href="{% url 'comments:list' pk=ticket.pk %}"
                   class="list-group-item">
                    <span class="badge" title="{% trans 'Comments count' %}">{{ ticket.comments_count }}</span>
                    <span class="label label-{{ ticket.status_class }}">{{ ticket.status_name }}</span>&nbsp;
                    <span class="text-muted">{% trans 'Ticket' %} #{{ ticket.pk }}</span>&nbsp;
                    {{ ticket.title }}
                    {% if ticket.created %}&nbsp;<span class="label label-default">{{ ticket.created|timesince }} ago</span>{% endif %}
                </a>
            {% endfor %}
        </div>
    {% else  %}
        <div class="alert alert-info">{% blocktrans %}You have not created tickets yet!{% endblocktrans %}</div>
    {% endif %}
{% endblock %}
