{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    <li><a href="update/" class="addlink" title="Запуск обновления и проверки списка доменов прямо сейчас">{% trans 'Обновить' %}</a></li>
{% endblock %}
