{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}
    <h1>{{ title }}</h1>
    <br/>
{% endblock %}

{% block content %}
    <form action="" method="POST" class="add-commands-form">
        {% csrf_token %}
        <fieldset class="grp-module">
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label class="required">{{ name }}</label></div>
                    <div class="c-2">
                        {{ items|join:', ' }}
                    </div>
                </div>
            </div>
            {% for field in form %}
                {% if field.is_hidden %}
                    {{ field }}
                {% else %}
                    <div class="grp-row">
                        <div class="l-2c-fluid l-d-4">
                            <div class="c-1"><label>{{ field.label }}</label></div>
                            <div class="c-2">{{ field }}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>

        <footer class="grp-module grp-submit-row">
            <ul>
                <li class="grp-float-left">
                    <input type="submit" name="apply" value="{% trans 'Добавить' %}" />
                </li>
                <li class="grp-float-left">
                    <a href="" class="grp-button grp-delete-link">{% trans 'Отменить' %}</a>
                </li>
            </ul>
        </footer>
    </form>
{% endblock %}
