{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    <li><a href="random/" class="addlink">{% trans 'Сгенерировать случайный' %}</a></li>
    <li><a href="random/?count=10" class="addlink">{% trans 'Сгенерировать 10 случайных' %}</a></li>
{% endblock %}
