{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}
