{% extends 'frontend/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    {% trans 'Router successful created.' %}
                    <a class="pull-right btn btn-success" href="{% url 'routers:create' %}">Add more</a>
                </h1>
                <p>{% trans 'Router ID:' %} <strong>{{ object.pk }}</strong></p>
                <p>{% trans 'Now you can view its keys.' %}</p>
            </div>
        </div>
    </div>
{% endblock %}
