{% spaceless %}

    <h1>{% block title %}{% endblock %}</h1>

    <p>Ответьте на это письмо для добавления комментария к тикету.</p>
    <p style="color: #faa; font-weight: 700;">Тело письма должно содержать только ваш ответ, без цитат!</p>
    <p style="color: #faa; font-weight: 700;">Тело письма будет интерпретироваться как markdown!</p>

    {% block content %}{% endblock %}

{% endspaceless %}
