{% extends 'frontend/base.html' %}

{% load i18n static %}
{% load django_markdown compressed %}

{% block body-class %}page-tickets js-page-tickets{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% block show-new-ticket %}
                    <h3 class="clearfix">
                        <a class="btn btn-success pull-right" href="{% url 'tickets:create' %}">{% trans 'New ticket' %}</a>
                        {% block control-row %}{% endblock %}
                    </h3>
                {% endblock %}
                {% block inner %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts-header%}
    {{ block.super }}
    {% markdown_media_css %}
    <link href="{% static 'tickets/css/markdown.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts-footer %}
    {{ block.super }}
    {% markdown_media_js %}
    {% compressed_js 'tickets' %}
{% endblock %}
